In [146]:
import pandas as pd
import numpy as np

**WITHIN THREE YEARS -> VEHAGE**

In [147]:
df = pd.read_csv('Dataset.csv')
df.loc[df['VEHAGE'] <= 0, 'VEHAGE'] = np.nan
df = df.dropna()
df = df[df['VEHAGE'] <= 3]
df

        HFUEL  HHFAMINC  HOMEOWN  HHSIZE  ...  CARSHARE  TIMETOWK  YEARMILE  VEHAGE
3        -1.0         8      1.0     2.0  ...         0        10     12000     3.0
9        -1.0         5      1.0     1.0  ...         0        -1      4000     1.0
11       -1.0        10      2.0     1.0  ...         0        -1      5000     3.0
45       -1.0         1      1.0     2.0  ...        -1        -1        -1     1.0
46       97.0         1      1.0     4.0  ...        -1        -1        -1     3.0
...       ...       ...      ...     ...  ...       ...       ...       ...     ...
122366   -1.0         6      2.0     6.0  ...         0        -1     10000     1.0
122367   -1.0         6      1.0     2.0  ...         0        10      3000     3.0
122368   -1.0         7      2.0     1.0  ...         0        -1     12000     1.0
122379   -1.0        -8      2.0     2.0  ...         0        -1       -88     3.0
122387   -1.0         5      1.0     4.0  ...         0         4       -88     2.0

[23380 rows x 20 columns]

**HFUEL (Class Target)**

In [148]:
df.loc[df['HFUEL'] < -1, 'HFUEL'] = np.nan
df=df.dropna()
conditions = [(df['HFUEL'] == 1),(df['HFUEL'] >= 2) & (df['HFUEL'] <= 4),(df['HFUEL'] > 4),(df['HFUEL'] == -1)]
values = [0,1, 0, 0]
df['HFUEL'] = np.select(conditions, values)
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

        HFUEL  HHFAMINC  HOMEOWN  HHSIZE  ...  CARSHARE  TIMETOWK  YEARMILE  VEHAGE
3           0         8      1.0     2.0  ...         0        10     12000     3.0
9           0         5      1.0     1.0  ...         0        -1      4000     1.0
11          0        10      2.0     1.0  ...         0        -1      5000     3.0
45          0         1      1.0     2.0  ...        -1        -1        -1     1.0
46          0         1      1.0     4.0  ...        -1        -1        -1     3.0
...       ...       ...      ...     ...  ...       ...       ...       ...     ...
122366      0         6      2.0     6.0  ...         0        -1     10000     1.0
122367      0         6      1.0     2.0  ...         0        10      3000     3.0
122368      0         7      2.0     1.0  ...         0        -1     12000     1.0
122379      0        -8      2.0     2.0  ...         0        -1       -88     3.0
122387      0         5      1.0     4.0  ...         0         4       -88     2.0

[23358 rows x 20 columns]

**HHFAMINC**

In [149]:
df.loc[df['HHFAMINC'] < 0, 'HHFAMINC'] = np.nan
df=df.dropna()
conditions = [(df['HHFAMINC'] <= 3),(df['HHFAMINC'] >= 4) & (df['HHFAMINC'] <= 5),(df['HHFAMINC'] == 6),(df['HHFAMINC'] == 7),(df['HHFAMINC'] >= 8)]
values = [1,2,3,4,5]
df['HHFAMINC'] = np.select(conditions, values)
df

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

        HFUEL  HHFAMINC  HOMEOWN  HHSIZE  ...  CARSHARE  TIMETOWK  YEARMILE  VEHAGE
3           0         5      1.0     2.0  ...         0        10     12000     3.0
9           0         2      1.0     1.0  ...         0        -1      4000     1.0
11          0         5      2.0     1.0  ...         0        -1      5000     3.0
45          0         1      1.0     2.0  ...        -1        -1        -1     1.0
46          0         1      1.0     4.0  ...        -1        -1        -1     3.0
...       ...       ...      ...     ...  ...       ...       ...       ...     ...
122364      0         3      2.0     2.0  ...        -1        -1        -1     2.0
122366      0         3      2.0     6.0  ...         0        -1     10000     1.0
122367      0         3      1.0     2.0  ...         0        10      3000     3.0
122368      0         4      2.0     1.0  ...         0        -1     12000     1.0
122387      0         2      1.0     4.0  ...         0         4       -88     2.0

[22695 rows x 20 columns]

**HOMEOWN**

In [150]:
df.loc[df['HOMEOWN'] < 0, 'HOMEOWN'] = np.nan
df=df.dropna()
conditions = [(df['HOMEOWN'] == 1) ,(df['HOMEOWN'] == 2), (df['HOMEOWN'] == 97)]
values = [1,0,np.nan]
df['HOMEOWN'] = np.select(conditions, values)
df=df.dropna()
df

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

        HFUEL  HHFAMINC  HOMEOWN  HHSIZE  ...  CARSHARE  TIMETOWK  YEARMILE  VEHAGE
3           0         5      1.0     2.0  ...         0        10     12000     3.0
9           0         2      1.0     1.0  ...         0        -1      4000     1.0
11          0         5      0.0     1.0  ...         0        -1      5000     3.0
45          0         1      1.0     2.0  ...        -1        -1        -1     1.0
46          0         1      1.0     4.0  ...        -1        -1        -1     3.0
...       ...       ...      ...     ...  ...       ...       ...       ...     ...
122364      0         3      0.0     2.0  ...        -1        -1        -1     2.0
122366      0         3      0.0     6.0  ...         0        -1     10000     1.0
122367      0         3      1.0     2.0  ...         0        10      3000     3.0
122368      0         4      0.0     1.0  ...         0        -1     12000     1.0
122387      0         2      1.0     4.0  ...         0         4       -88     2.0

[22509 rows x 20 columns]

**URBRUR**

In [151]:
conditions = [(df['URBRUR'] == 1) ,(df['URBRUR'] == 2)]
values = [1,0]
df['URBRUR'] = np.select(conditions, values)
df

        HFUEL  HHFAMINC  HOMEOWN  HHSIZE  ...  CARSHARE  TIMETOWK  YEARMILE  VEHAGE
3           0         5      1.0     2.0  ...         0        10     12000     3.0
9           0         2      1.0     1.0  ...         0        -1      4000     1.0
11          0         5      0.0     1.0  ...         0        -1      5000     3.0
45          0         1      1.0     2.0  ...        -1        -1        -1     1.0
46          0         1      1.0     4.0  ...        -1        -1        -1     3.0
...       ...       ...      ...     ...  ...       ...       ...       ...     ...
122364      0         3      0.0     2.0  ...        -1        -1        -1     2.0
122366      0         3      0.0     6.0  ...         0        -1     10000     1.0
122367      0         3      1.0     2.0  ...         0        10      3000     3.0
122368      0         4      0.0     1.0  ...         0        -1     12000     1.0
122387      0         2      1.0     4.0  ...         0         4       -88     2.0

[22509 rows x 20 columns]

**HTPPOPDN**

In [152]:
df.loc[df['HTPPOPDN'] < 0, 'HTPPOPDN'] = np.nan
df=df.dropna()
conditions = [(df['HTPPOPDN'] <= 100),(df['HTPPOPDN'] >= 101) & (df['HTPPOPDN'] <= 500),(df['HTPPOPDN'] >= 501) & (df['HTPPOPDN'] <= 1000),(df['HTPPOPDN'] >= 1001) & (df['HTPPOPDN'] <= 2000),(df['HTPPOPDN'] >= 2001) & (df['HTPPOPDN'] <= 4000),(df['HTPPOPDN'] >= 4001) & (df['HTPPOPDN'] <= 10000),(df['HTPPOPDN'] >= 10001) & (df['HTPPOPDN'] <= 25000),(df['HTPPOPDN'] > 25000)]
values = [1,2,3,4,5,6,7,8]
df['HTPPOPDN'] = np.select(conditions, values)
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

        HFUEL  HHFAMINC  HOMEOWN  HHSIZE  ...  CARSHARE  TIMETOWK  YEARMILE  VEHAGE
3           0         5      1.0     2.0  ...         0        10     12000     3.0
9           0         2      1.0     1.0  ...         0        -1      4000     1.0
11          0         5      0.0     1.0  ...         0        -1      5000     3.0
45          0         1      1.0     2.0  ...        -1        -1        -1     1.0
46          0         1      1.0     4.0  ...        -1        -1        -1     3.0
...       ...       ...      ...     ...  ...       ...       ...       ...     ...
122364      0         3      0.0     2.0  ...        -1        -1        -1     2.0
122366      0         3      0.0     6.0  ...         0        -1     10000     1.0
122367      0         3      1.0     2.0  ...         0        10      3000     3.0
122368      0         4      0.0     1.0  ...         0        -1     12000     1.0
122387      0         2      1.0     4.0  ...         0         4       -88     2.0

[22487 rows x 20 columns]

**PRICE**

In [153]:
df.loc[df['PRICE'] < 0, 'PRICE'] = np.nan
df=df.dropna()
df

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

        HFUEL  HHFAMINC  HOMEOWN  HHSIZE  ...  CARSHARE  TIMETOWK  YEARMILE  VEHAGE
3           0         5      1.0     2.0  ...         0        10     12000     3.0
9           0         2      1.0     1.0  ...         0        -1      4000     1.0
11          0         5      0.0     1.0  ...         0        -1      5000     3.0
45          0         1      1.0     2.0  ...        -1        -1        -1     1.0
46          0         1      1.0     4.0  ...        -1        -1        -1     3.0
...       ...       ...      ...     ...  ...       ...       ...       ...     ...
122364      0         3      0.0     2.0  ...        -1        -1        -1     2.0
122366      0         3      0.0     6.0  ...         0        -1     10000     1.0
122367      0         3      1.0     2.0  ...         0        10      3000     3.0
122368      0         4      0.0     1.0  ...         0        -1     12000     1.0
122387      0         2      1.0     4.0  ...         0         4       -88     2.0

[22315 rows x 20 columns]

**PLACE**

In [154]:
df.loc[df['PLACE'] < 0, 'PLACE'] = np.nan
df=df.dropna()
df

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

        HFUEL  HHFAMINC  HOMEOWN  HHSIZE  ...  CARSHARE  TIMETOWK  YEARMILE  VEHAGE
3           0         5      1.0     2.0  ...         0        10     12000     3.0
9           0         2      1.0     1.0  ...         0        -1      4000     1.0
11          0         5      0.0     1.0  ...         0        -1      5000     3.0
45          0         1      1.0     2.0  ...        -1        -1        -1     1.0
46          0         1      1.0     4.0  ...        -1        -1        -1     3.0
...       ...       ...      ...     ...  ...       ...       ...       ...     ...
122364      0         3      0.0     2.0  ...        -1        -1        -1     2.0
122366      0         3      0.0     6.0  ...         0        -1     10000     1.0
122367      0         3      1.0     2.0  ...         0        10      3000     3.0
122368      0         4      0.0     1.0  ...         0        -1     12000     1.0
122387      0         2      1.0     4.0  ...         0         4       -88     2.0

[21868 rows x 20 columns]

**R_SEX_IMP**

In [155]:
conditions = [(df['R_SEX_IMP'] == 1) ,(df['R_SEX_IMP'] == 2)]
values = [1,0]
df['R_SEX_IMP'] = np.select(conditions, values)
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

        HFUEL  HHFAMINC  HOMEOWN  HHSIZE  ...  CARSHARE  TIMETOWK  YEARMILE  VEHAGE
3           0         5      1.0     2.0  ...         0        10     12000     3.0
9           0         2      1.0     1.0  ...         0        -1      4000     1.0
11          0         5      0.0     1.0  ...         0        -1      5000     3.0
45          0         1      1.0     2.0  ...        -1        -1        -1     1.0
46          0         1      1.0     4.0  ...        -1        -1        -1     3.0
...       ...       ...      ...     ...  ...       ...       ...       ...     ...
122364      0         3      0.0     2.0  ...        -1        -1        -1     2.0
122366      0         3      0.0     6.0  ...         0        -1     10000     1.0
122367      0         3      1.0     2.0  ...         0        10      3000     3.0
122368      0         4      0.0     1.0  ...         0        -1     12000     1.0
122387      0         2      1.0     4.0  ...         0         4       -88     2.0

[21868 rows x 20 columns]

**EDUC**

In [156]:
df.loc[df['EDUC'] < 0, 'EDUC'] = np.nan
df=df.dropna()
df

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

        HFUEL  HHFAMINC  HOMEOWN  HHSIZE  ...  CARSHARE  TIMETOWK  YEARMILE  VEHAGE
3           0         5      1.0     2.0  ...         0        10     12000     3.0
9           0         2      1.0     1.0  ...         0        -1      4000     1.0
11          0         5      0.0     1.0  ...         0        -1      5000     3.0
45          0         1      1.0     2.0  ...        -1        -1        -1     1.0
48          0         3      1.0     1.0  ...         0        -1       -88     3.0
...       ...       ...      ...     ...  ...       ...       ...       ...     ...
122358      1         2      1.0     1.0  ...         0        10     10000     3.0
122366      0         3      0.0     6.0  ...         0        -1     10000     1.0
122367      0         3      1.0     2.0  ...         0        10      3000     3.0
122368      0         4      0.0     1.0  ...         0        -1     12000     1.0
122387      0         2      1.0     4.0  ...         0         4       -88     2.0

[19928 rows x 20 columns]

**R_RACE**

In [157]:
df.loc[df['R_RACE'] < 0, 'R_RACE'] = np.nan
df=df.dropna()
df.loc[df['R_RACE'] == 97, 'R_RACE'] = 7
df

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

        HFUEL  HHFAMINC  HOMEOWN  HHSIZE  ...  CARSHARE  TIMETOWK  YEARMILE  VEHAGE
3           0         5      1.0     2.0  ...         0        10     12000     3.0
9           0         2      1.0     1.0  ...         0        -1      4000     1.0
11          0         5      0.0     1.0  ...         0        -1      5000     3.0
45          0         1      1.0     2.0  ...        -1        -1        -1     1.0
48          0         3      1.0     1.0  ...         0        -1       -88     3.0
...       ...       ...      ...     ...  ...       ...       ...       ...     ...
122358      1         2      1.0     1.0  ...         0        10     10000     3.0
122366      0         3      0.0     6.0  ...         0        -1     10000     1.0
122367      0         3      1.0     2.0  ...         0        10      3000     3.0
122368      0         4      0.0     1.0  ...         0        -1     12000     1.0
122387      0         2      1.0     4.0  ...         0         4       -88     2.0

[19829 rows x 20 columns]

**GT1JBLWK**

In [158]:
df.loc[df['GT1JBLWK'] < 0, 'GT1JBLWK'] = np.nan
df=df.dropna()
conditions = [(df['GT1JBLWK'] == 1) ,(df['GT1JBLWK'] == 2)]
values = [1,0]
df['GT1JBLWK'] = np.select(conditions, values)
df

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

        HFUEL  HHFAMINC  HOMEOWN  HHSIZE  ...  CARSHARE  TIMETOWK  YEARMILE  VEHAGE
3           0         5      1.0     2.0  ...         0        10     12000     3.0
67          0         4      1.0     2.0  ...         0        -1     10000     3.0
73          0         5      1.0     1.0  ...         0        15       -88     3.0
75          0         3      1.0     1.0  ...         0        35       400     2.0
76          0         3      1.0     1.0  ...         0        10      2600     3.0
...       ...       ...      ...     ...  ...       ...       ...       ...     ...
122322      0         3      1.0     5.0  ...         0        40     16000     2.0
122330      0         5      1.0     4.0  ...         0        40     22500     1.0
122358      1         2      1.0     1.0  ...         0        10     10000     3.0
122367      0         3      1.0     2.0  ...         0        10      3000     3.0
122387      0         2      1.0     4.0  ...         0         4       -88     2.0

[10302 rows x 20 columns]

**OCCAT**

In [159]:
df.loc[df['OCCAT'] < 0, 'OCCAT'] = np.nan
df=df.dropna()
df.loc[df['OCCAT'] == 97, 'OCCAT'] = 5
df

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

        HFUEL  HHFAMINC  HOMEOWN  HHSIZE  ...  CARSHARE  TIMETOWK  YEARMILE  VEHAGE
3           0         5      1.0     2.0  ...         0        10     12000     3.0
67          0         4      1.0     2.0  ...         0        -1     10000     3.0
73          0         5      1.0     1.0  ...         0        15       -88     3.0
75          0         3      1.0     1.0  ...         0        35       400     2.0
76          0         3      1.0     1.0  ...         0        10      2600     3.0
...       ...       ...      ...     ...  ...       ...       ...       ...     ...
122322      0         3      1.0     5.0  ...         0        40     16000     2.0
122330      0         5      1.0     4.0  ...         0        40     22500     1.0
122358      1         2      1.0     1.0  ...         0        10     10000     3.0
122367      0         3      1.0     2.0  ...         0        10      3000     3.0
122387      0         2      1.0     4.0  ...         0         4       -88     2.0

[10298 rows x 20 columns]

**CARSHARE**

In [160]:
df.loc[df['CARSHARE'] < 0, 'CARSHARE'] = np.nan
df=df.dropna()
conditions = [(df['CARSHARE'] == 0) ,(df['CARSHARE'] >= 1)]
values = [0,1]
df['CARSHARE'] = np.select(conditions, values)
df

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

        HFUEL  HHFAMINC  HOMEOWN  HHSIZE  ...  CARSHARE  TIMETOWK  YEARMILE  VEHAGE
3           0         5      1.0     2.0  ...         0        10     12000     3.0
67          0         4      1.0     2.0  ...         0        -1     10000     3.0
73          0         5      1.0     1.0  ...         0        15       -88     3.0
75          0         3      1.0     1.0  ...         0        35       400     2.0
76          0         3      1.0     1.0  ...         0        10      2600     3.0
...       ...       ...      ...     ...  ...       ...       ...       ...     ...
122322      0         3      1.0     5.0  ...         0        40     16000     2.0
122330      0         5      1.0     4.0  ...         0        40     22500     1.0
122358      1         2      1.0     1.0  ...         0        10     10000     3.0
122367      0         3      1.0     2.0  ...         0        10      3000     3.0
122387      0         2      1.0     4.0  ...         0         4       -88     2.0

[10289 rows x 20 columns]

**TIMETOWK**

In [161]:
df.loc[df['TIMETOWK'] < 0, 'TIMETOWK'] = np.nan
df=df.dropna()
df

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

        HFUEL  HHFAMINC  HOMEOWN  HHSIZE  ...  CARSHARE  TIMETOWK  YEARMILE  VEHAGE
3           0         5      1.0     2.0  ...         0      10.0     12000     3.0
73          0         5      1.0     1.0  ...         0      15.0       -88     3.0
75          0         3      1.0     1.0  ...         0      35.0       400     2.0
76          0         3      1.0     1.0  ...         0      10.0      2600     3.0
145         1         2      0.0     2.0  ...         0       5.0     10000     2.0
...       ...       ...      ...     ...  ...       ...       ...       ...     ...
122322      0         3      1.0     5.0  ...         0      40.0     16000     2.0
122330      0         5      1.0     4.0  ...         0      40.0     22500     1.0
122358      1         2      1.0     1.0  ...         0      10.0     10000     3.0
122367      0         3      1.0     2.0  ...         0      10.0      3000     3.0
122387      0         2      1.0     4.0  ...         0       4.0       -88     2.0

[8914 rows x 20 columns]

**YEARMILE**

In [162]:
df.loc[df['YEARMILE'] < 0, 'YEARMILE'] = np.nan
df=df.dropna()
df

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

        HFUEL  HHFAMINC  HOMEOWN  HHSIZE  ...  CARSHARE  TIMETOWK  YEARMILE  VEHAGE
3           0         5      1.0     2.0  ...         0      10.0   12000.0     3.0
75          0         3      1.0     1.0  ...         0      35.0     400.0     2.0
76          0         3      1.0     1.0  ...         0      10.0    2600.0     3.0
145         1         2      0.0     2.0  ...         0       5.0   10000.0     2.0
197         0         5      1.0     1.0  ...         0      40.0    9000.0     3.0
...       ...       ...      ...     ...  ...       ...       ...       ...     ...
122303      0         2      1.0     3.0  ...         0      35.0    6000.0     2.0
122322      0         3      1.0     5.0  ...         0      40.0   16000.0     2.0
122330      0         5      1.0     4.0  ...         0      40.0   22500.0     1.0
122358      1         2      1.0     1.0  ...         0      10.0   10000.0     3.0
122367      0         3      1.0     2.0  ...         0      10.0    3000.0     3.0

[6221 rows x 20 columns]

In [163]:
df=df.drop(['VEHAGE'], axis=1)

In [164]:
df.to_csv('CleanedEV.csv')